.footer {
  background-color: #1a4048;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.images {
  width: 77%;
  display: flex;
  justify-content: space-between;
  margin-left: 4.5rem;
}
.images > div > img {
  margin-left: 1rem;
  margin-top: 4rem;
}
.socials > img {
  width: 30px;
  transition: all ease-in 50ms;
}
.socials > img:hover {
  transform: scale(1.1);
}
.content {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: -2rem auto 0 90px;
}
.content1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.content1 > span {
  color: #8b8b8b;
  font-size: 24px;
  transition: all ease-in 100ms;
}
.content1 > span:hover {
  transform: scale(1.03);
  color: white;
}
.contentt1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.contentt1 > span {
  color: #8b8b8b;
  font-size: 24px;
}

.content1 > button {
  color: #1f1f39;
  background-color: #fff;
  font-weight: bolder;
  padding: 0.9rem 0.6rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 120px;
  margin-top: 5px;
  transition: all ease-in 100ms;
}
.content1 > button:hover {
  transform: scale(1.08);
}

@media (max-width: 400px) {
  .footer {
    width: 420px;
  }
  .images {
    width: 380px;
    margin: -2rem 0 0 1rem;
  }
  .images > div > img {
    margin-top: 2rem;
    margin-left: 0.5rem;
  }
  .socials > img {
    width: 25px;
    transition: all ease-in 50ms;
    margin-left: 0rem;
    margin-bottom: -3rem;
  }
  .logo> img {
    margin-left: 0rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    width: 200px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    width: 90%;
    margin: 0px;
  }
  .content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
    margin-top: 0rem;
    margin-bottom: 3rem;
    margin-left: 1.6rem;
  }
  .content1 > span {
    font-size: 18px;
  }
}
