.footer {
  background-color: #1a4048;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.images {
  width: 77%;
  display: flex;
  justify-content: space-between;
  margin-left: 4.5rem;
}

.images > div > img {
  margin-left: 1rem;
  margin-top: 4rem;
}
.images > div > a > img {
  margin-left: 1rem;
  margin-top: 4rem;
}
.socials > a > img {
  width: 30px;
  transition: all ease-in 50ms;
}
.socials > a > img:hover {
  transform: scale(1.1);
}
.content {
  display: flex;
  justify-content: space-between;
  width: 79.5%;
  margin: -2rem auto 0 90px;
}
.content1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.content1 > span {
  color: #8b8b8b;
  font-size: 16px;
  transition: all ease-in 100ms;
  cursor: pointer;
}
.content1 > span:hover {
  transform: scale(1.03);
  color: white;
}
.contentt1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.contentt1 > div {
  color: #8b8b8b;
  font-size: 16px;
}
.contentt1 > div:hover {
  transform: scale(1.03);
  color: white;
}
.contentt1 > div > a {
  color: #8b8b8b;
  font-size: 16px;
  text-decoration: none;
}
.contentt1 > div > a:hover:hover {
  transform: scale(1.03);
  color: white;
}
.content1 > button:hover {
  transform: scale(1.08);
}
.Link {
  text-decoration: none;
  color: #8b8b8b;
  font-size: 16px;
  transition: all ease-in 100ms;
}
.Link:hover {
  transform: scale(1.03);
  color: white;
}
.footertext {
  border-top: 2px solid #8b8b8b;
  width: 85%;
  color: #8b8b8b;
  margin-left: 90px;
  font-size: 12px;
  padding-top: 1%;
  padding-bottom: 3%;
  text-align: justify;
}
.poweredby {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 12px;
  padding-bottom: 2%;
  gap: 5px;
}
.poweredby a {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 601px) and (max-width: 920px) {
  .footer {
    width: 100%;
  }
  .images {
    width: 80%;
    margin-left: 2rem;
    justify-content: space-between;
  }
  .images > div > img {
    margin-left: 1rem;
    margin-top: 4rem;
  }
  .content {
    display: flex;
    justify-content: space-between;
    width: 84%;
    margin: -2rem auto 0 3rem;
  }
  .content1 > span {
    font-size: 16px;
  }
  .contentt1 > div {
    font-size: 16px;
  }
  .Link {
    font-size: 16px;
  }
  .footertext {
    border-top: 2px solid #8b8b8b;
    width: 85%;
    color: #8b8b8b;
    margin-left: 2.6rem;
    font-size: 12px;
    padding-top: 2%;
    padding-bottom: 3%;
    text-align: justify;
  }
  .poweredby {
    font-size: 10px;
  }
}
@media screen and (max-width: 600px) {
  .images {
    width: 380px;
    margin: -2rem 0 0 1rem;
  }
  .images > div > img {
    margin-top: 3rem;
    margin-left: 0.5rem;
  }
  .socials {
    margin-right: 1rem;
    margin-top: -0.5rem;
  }
  .socials > a > img {
    width: 25px;
    transition: all ease-in 50ms;
    margin-left: 0rem;
    /* margin-bottom: -2.5rem; */
  }
  .logo > img {
    margin-left: 0rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    width: 200px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    width: 90%;
    margin: 0px;
  }
  .content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
    margin-top: -1rem;
    margin-bottom: 3rem;
    margin-left: 1.6rem;
  }
  .content1 > span {
    font-size: 16px;
  }
  .contentt1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
    margin-top: 0.3rem;
    margin-bottom: 3rem;
    margin-left: 1.6rem;
  }
  .contentt1 > div {
    font-size: 16px;
  }
  .Link {
    font-size: 16px;
  }
  .footertext {
    border-top: 2px solid #8b8b8b;
    width: 85%;
    color: #8b8b8b;
    margin-left: 1.6rem;
    font-size: 12px;
    padding-top: 2%;
    padding-bottom: 3%;
    text-align: justify;
  }
  .poweredby {
    font-size: 10px;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) {
  .footer {
    width: 100%;
  }
  .images {
    width: 75%;
    margin-left: 4rem;
    justify-content: space-between;
  }
  .content {
    display: flex;
    justify-content: space-between;
    width: 78%;
    margin: -2rem auto 0 90px;
  }
}
