.modalBackground {
    min-width: 100%;
    min-height: 100%;
    backdrop-filter: blur(20px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 999;
  }
  .loadingdotscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .dotcontainer {
    display: flex;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 0.3;
    animation: bounce 1s infinite alternate;
  }
  
  @keyframes bounce {
    to {
      opacity: 1;
      transform: translateY(-10px);
    }
  }