.BlogDetailMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  padding-bottom: 10%;
}
.blogDetailAndSideItemsContainer {
  display: flex;
  width: 95vw;
  justify-content: space-evenly;
  margin-top: 10%;
}

.BlogDetailCardContainer {
  display: flex;
  flex-direction: column;
  width: 60vw;
  align-items: center;
  justify-content: center;
}
.BlogDetailContainerStyle {
  width: 90%;
  margin-left: 20%;
}
.HeadingStyleBlogDetail {
  font-weight: 500;
  font-size: 2.5rem;
  color: #05c8e8;
  max-width: 100%;
  text-align: left;
  margin-top: 10%;
}
.publishDateStyle {
  margin: 3% 0 0.5% 0;
  font-size: 0.8rem;
}
.socialIconContainer {
  display: flex;
  width: 30%;
  margin-top: 0.5%;
}
.socialLogoStyle {
  height: 9%;
  width: 9%;
  cursor: pointer;
  margin: 0 2px 0 0;
}
.socialLogoStyletwitter {
  height: 16%;
  width: 16%;
}
.socialLogoStylemail {
  height: 10%;
  width: 10%;
  margin-left: 5px;
}
.blogDetailDiscriptionAndImageContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.blogDetailDescriptionStyle {
  width: 100%;
  margin-top: 2%;
}
.readMoreButton {
  font-weight: 500;
  color: #05c8e8;
  cursor: pointer;
  margin-top: 3%;
}
.blogImageStyle {
  width: 100%;
  height: 100%;

}
.blogDetailTopicAndButtonContainer {
  display: flex;
}
.creditCardDebtButton {
  color: #05c8e8;
  margin: 0 1%;
  cursor: pointer;
}
.sideMenuMainContainer {
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}
.BlogTopicHeadingStye {
  font-size: 2rem;
  color: black;
  font-weight: 700;
  /* margin-top: -5%; */
}

.blogTopicTextStyle {
  color: #05c8e8;
  margin-top: 8%;
  width: 12vw;
  cursor: pointer;
}
.blogTopicTextStyle:hover {
  text-decoration: underline;
}
.testImageStyle {
  margin-top: 12%;
  cursor: pointer;
  margin-left: 23%;
}

.blogDetailHeadingOne {
  font-size: 1.5rem;
  margin: 5% 0;
}

.relatedPostStyle {
  color: black;
  font-size: 2rem;
  font-weight: 500;
  margin: 7% 0 0 0;
}

.blogViewRectangleContainerStyle {
  position: relative;
  border-radius: 21.81px;
  background-color: #f8f8f8;
  width: 46%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  box-sizing: border-box;
  gap: 1.73rem;
  text-align: left;
  font-size: 1.6rem;
  color: #000;
  font-family: Inter;
  margin-top: 15px;
  transition: transform 0.2s;
  box-shadow: none;
  cursor: pointer;
}

.blogViewRectangleContainerStyle:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
.blogViewRectangleImageImageStyle {
  width: 35%;
  height: 100%;
}

.blogViewRectangleTextContainerSTyle {
  position: relative;
  font-size: 1rem;
  font-weight: 800;
  color: #000;
  text-align: left;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60%;
}
.blogViewDescriptionInsideTextCOntainer {
  position: relative;
  font-size: 0.96rem;
  font-family: Inter;
  color: #8b8b8b;
  text-align: left;
  display: inline-block;
  width: 16rem;
  margin: 10px 0 10px 0;
}
.blogViewLearnMoreStyle {
  position: relative;
  font-size: 1.26rem;
  text-decoration: underline;
  font-family: "Inter";
  color: #05c8e8;
  text-align: left;
  cursor: pointer;
  transition: transform 0.2s;
  width: 50%;
}
.blogViewLearnMoreStyle:hover {
  text-shadow: 0 0 15px rgba(48, 214, 99, 0.6);
  transform: scale(1.01);
}
.arrMapHolderContainerStyle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-self: center;
  margin-top: 1%;
}
.sharethis {
  margin-right: 5px;
}

@media (max-width: 600px) {
  .blogDetailAndSideItemsContainer {
    display: flex;
    flex-direction: column;
    width: 95vw;
    justify-content: space-evenly;
    margin-top: 10%;
  }
  .BlogDetailCardContainer {
    display: flex;
    flex-direction: column;
    width: 95vw;
    align-items: center;
    justify-content: center;
  }
  .BlogDetailContainerStyle {
    width: 90%;
    margin-left: 0%;
  }
  .HeadingStyleBlogDetail {
    font-weight: 800;
    font-size: 1.5rem;
    color: #05c8e8;
    max-width: 100%;
    text-align: left;
    margin-top: 20%;
  }
  .socialIconContainer {
    margin-top: 5%;
  }
  .socialLogoStyle {
    height: 19%;
    width: 19%;
    cursor: pointer;
    margin: 0 2px 0 0;
  }
  .socialLogoStyletwitter {
    height: 36%;
    width: 36%;
  }
  .socialLogoStylemail {
    height: 21%;
    width: 21%;
    margin-left: 10px;
  }
  .sharethis {
    display: none;
  }
  .arrMapHolderContainerStyle {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-self: center;
    margin-top: 1%;
  }
  .blogViewRectangleContainerStyle {
    width: 100%;
  }
  .sideMenuMainContainer {
    margin: 15% 0%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .blogTopicTextStyle {
    width: 50vw;
    margin-left: 10%;
  }
  .testImageStyle {
    margin-top: 12%;
    cursor: pointer;
    margin-left: 0%;
   
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .blogDetailAndSideItemsContainer {
    display: flex;
    flex-direction: column;
    width: 95vw;
    justify-content: space-evenly;
    margin-top: 10%;
  }
  .BlogDetailCardContainer {
    display: flex;
    flex-direction: column;
    width: 95vw;
    align-items: center;
    justify-content: center;
  }
  .BlogDetailContainerStyle {
    width: 90%;
    margin-left: 0%;
  }
  .HeadingStyleBlogDetail {
    font-weight: 800;
    font-size: 1.5rem;
    color: #05c8e8;
    max-width: 100%;
    text-align: left;
    margin-top: 20%;
  }
  .socialIconContainer {
    margin-top: 5%;
  }
  .socialLogoStyle {
    height: 19%;
    width: 19%;
    cursor: pointer;
    margin: 0 2px 0 0;
  }
  .socialLogoStyletwitter {
    height: 36%;
    width: 36%;
  }
  .socialLogoStylemail {
    height: 21%;
    width: 21%;
    margin-left: 10px;
  }
  .sharethis {
    display: none;
  }
  .arrMapHolderContainerStyle {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-self: center;
    margin-top: 1%;
  }
  .blogViewRectangleContainerStyle {
    width: 100%;
  }
  .sideMenuMainContainer {
    margin: 15% 0%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .blogTopicTextStyle {
    width: 50vw;
    margin-left: 30%;
  }
  .testImageStyle {
    margin-top: 12%;
    cursor: pointer;
    margin-left: 0%;
   width: 50%;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1250px) {
  .logoContainerIndex {
    padding: 7px 70px;
  }
  .getTsartedAndNumberContainer {
    width: 35%;
    justify-content: space-between;
  }
  .TopNumStyle {
    font-size: 0.9em;
    width: 50%;
  }

  .getStartedButton {
    padding: 7px 13px 7px 13px;
    font-size: 0.9rem;
    width: 40%;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1400px) {
  /* .logoContainerIndex {
    padding: 7px 40px;
  } */
  .getTsartedAndNumberContainer {
    width: 28%;
    justify-content: space-between;
  }
  .TopNumStyle {
    font-size: 0.9rem;
    width: 46%;
    text-align: center;
  }

  .getStartedButton {
    padding: 7px 13px 7px 13px;
    font-size: 0.9rem;
    width: 35%;
    text-align: center;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1750px) {
  .getTsartedAndNumberContainer {
    width: 30%;
    justify-content: space-between;
  }
  .TopNumStyle {
    font-size: 1rem;
    width: 50%;
  }
  .getStartedButton {
    padding: 7px 13px 7px 13px;
    font-size: 1rem;
    width: 37%;
  }
}

@media screen and (min-width: 1751px) and (max-width: 1920px) {
  .getTsartedAndNumberContainer {
    width: 25%;
    justify-content: space-between;
  }
  .TopNumStyle {
    font-size: 1rem;
    width: 47%;
  }

  .getStartedButton {
    padding: 7px 13px 7px 13px;
    font-size: 1rem;
    width: 37%;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2050px) {
  .getTsartedAndNumberContainer {
    width: 20%;
    justify-content: space-between;
  }
  .TopNumStyle {
    font-size: 1rem;
    width: 45%;
  }
  .getStartedButton {
    padding: 7px 13px 7px 13px;
    font-size: 1rem;
    width: 37%;
  }
}
