@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
h1{
  margin: 0;
  padding: 0;
}
.main {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="date"] {
  background-color: white;

}
.react-date-picker__wrapper {
  border: none !important;
}
.react-calendar {
    width: 350px !important;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.5em !important;
}
.react-date-picker__inputGroup__input:invalid {
    background: white !important;
}
.customSelect .select__control {
  width: 120px;
  background-color: white;
  height: 40px;
  border-radius: 5px;
  display: flex;
  margin-top: 3px;
  position: static;
  outline: none;
  border: none;
}
@media screen and (max-width: 420px) {
  .customSelect .select__control {
    width: 155px;
  }
  .main {
    display: flex;
    
  }
}
@media screen and (max-width: 600px) {
  .customSelect .select__control {
    width: 155px;
  }
  .react-calendar {
    width: 280px !important;
  }
}
