.wrapper {
  height: 200px;
  margin-bottom: 3%;
  
}
.wrapper h3 {
  color: #1a4048;
  display: flex;
  justify-content: center;
  margin: 7% 0 3% 0%;
}
.div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.zablelogo{
  margin-top: 13px;
}
.swiper {
  background-color: #f7f7f7;
  padding: 20px 20px 10px 20px;
}
.slide{
  z-index: 2;
}
.sliderbutton {
  font-size: 1.3rem;
  width: 40px;
  height: 40px;
  color: #05c8e8;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  border: 1px solid #8b8b8b;
  cursor: pointer;
  margin-top: -4.2%;
  margin-bottom: 2%;
}
.button {
  display: flex;
  row-gap: 2rem;
  justify-content: space-between;
  align-items: center;
  z-index: 500;
  position: relative;
}
@media (max-width: 420px) {
.swiper{
 width: 370px;
}
.sliderbutton{
  margin-top: -19%;
}
.sliderbutton {
  font-size: 1.3rem;
  width: 50px;
  height: 50px;
  color: #05c8e8;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  border: 1px solid #8b8b8b;
  cursor: pointer;
  margin-bottom: 2%;
}
}
@media  screen and (min-width: 421px) and (max-width: 600px) {
  .sliderbutton{
    margin-top: -18%;
  }
}
@media  screen and (min-width: 601px) and (max-width: 770px) {
  .sliderbutton{
    margin-top: -9%;
  }
  .zablelogo{
    margin-top: 13px;
  }
}
@media  screen and (min-width: 771px) and (max-width: 900px) {
  .sliderbutton{
    margin-top: -9%;
  }
  .zablelogo{
    margin-top: 15px;
  }
}
@media  screen and (min-width: 901px) and (max-width: 1200px) {
  .sliderbutton{
    margin-top: -7%;
  }
  .zablelogo{
    margin-top: 15px;
  }
}