.topbtnposition {
    position: fixed;
    bottom: 15px;
    right: 20px;
  }
  
  .topbtnstyle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #1a4048;
    color: #05c8e8;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .topbtnstyle:hover {
    animation: none;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
  }