.wrapper {
  background-color: #fff;
  margin-bottom: 7rem;
  min-width: 1500px;
}

.headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 16rem;
  margin-top: -10rem;
}
.headings > h3 {
  color: #05c8e8;
  margin-top: 8rem;
}
.headings > h1 {
  color: #1a4048;
  font-weight: 900;
  font-size: 3rem;
  margin-top: -0.8rem;
}
.cards {
  display: flex;
  justify-content: center;
  margin: 7rem 0 0 0;
}
.card1 {
  margin-left: 2rem;
}
.card1box1 {
  display: flex;
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 18px;
  margin-bottom: 1rem;
}

.card1box1:hover {
  box-shadow: rgba(192, 192, 192, 0.4) 5px 5px, rgba(189, 188, 188, 0.3) 10px 10px
}
.card1box1content {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.card1box1content > h3 {
  color: #333;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 5px;
}
.card1box1content > h4 {
  transition: all ease-in 100ms;
}
.card1box1content > h4:hover {
  transform: scale(0.98);
}

@media (max-width: 400px) {
  .wrapper {
    width: 420px;
  }
  .headings {
    margin-left: 0rem;
    margin-top: 0;
    padding: 2rem;
  }
  .headings > h3 {
    color: #05c8e8;
    margin-top: 3rem;
    font-size: 1rem;
  }
  .headings > h1 {
    color: #1a4048;
    font-weight: 900;
    font-size: 2rem;
    margin-top: -0.8rem;
  }
  .headings > h1 > br {
    display: none;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .card1 {
    margin-left: 0;
  }
  .card1box1 {
    display: flex;
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 18px;
    margin-bottom: 1rem;
    width: 330px;
    align-items: center;
    height: 160px;
  }
  .card1box1img > img {
    width: 120px;
    height: 160px;
  }
  .card1box1content {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    gap: 0rem;
    height: 190px;
  }
  .card1box1content > h3 {
    font-size: 0.9rem;
    margin-top: 15px;
  }
  .card1box1content > h3 > br {
    display: none;
  }
  .wrapper > img {
    display: none;
  }
}
