.wrapper {
  background-color: #fff;
  margin-bottom: 7rem;
}

.headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 16rem;
  margin-top: -10rem;
}
.headings > h3 {
  color: #05c8e8;
  margin-top: 8rem;
}
.headings > h1 {
  color: #1a4048;
  font-weight: 900;
  font-size: 3rem;
  margin-top: -0.8rem;
}
.cards {
  display: flex;
  justify-content: center;
  margin: 7rem 0 0 0;
}
.card1 {
  margin-left: 2rem;
}
.card1box1 {
  display: flex;
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 18px;
  margin-bottom: 1rem;
}

.card1box1:hover {
  box-shadow: rgba(192, 192, 192, 0.4) 5px 5px,
    rgba(189, 188, 188, 0.3) 10px 10px;
}
.card1box1content {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.card1box1content > h3 {
  color: #333;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 5px;
}
.card1box1content > h4 {
  transition: all ease-in 100ms;
}
.card1box1content > h4:hover {
  text-shadow: 2px 2px 10px #05c8e8;
  cursor: pointer;
}
.howcircle {
  display: flex;
  justify-content: flex-end;
}
.howcircle > img {
  margin-top: -10rem;
  width: 200px;
}
.viewmorebutton{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.viewmorebutton button{
  width: 200px;
  height: 45px;
  font-size: 16px;
  font-weight: 700;
  background-color: #05c8e8;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms all ease-in;
}
.viewmorebutton button:hover{
  transform: scale(1.05);
  box-shadow: 5px 5px 10px #1a4048;
}
@media screen and (min-width: 718px) and (max-width: 769px) {
  .wrapper {
    width: 100%;
  }
  .headings {
    margin-left: 4rem;
    margin-top: -5rem;
    padding: 2rem;
  }
  .headings > h3 {
    color: #05c8e8;
    margin-top: 5rem;
    font-size: 1rem;
  }
  .headings > h1 {
    color: #1a4048;
    font-weight: 900;
    font-size: 2.5rem;
    margin-top: -0.3rem;
  }
  .howcircle > img {
    margin-top: -7rem;
    width: 150px;
  }
  .Cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards {
    width: 90%;
    margin: 2rem 0 7rem 0;
  }
  .card1 {
    margin-left: 0.5rem;
  }
  .card1box1content > h3 {
    font-size: 0.9rem;
    margin-top: 7px;
  }
  .card1box1content > h3 > br {
    display: none;
  }
  .card1box1content > span > br {
    display: none;
  }
  .card1box1img > img {
    width: 140px;
    height: 200px;
  }
  .viewmorebutton{
    margin-top: 0%;
  }
}
@media screen and (min-width: 770px) and (max-width: 920px) {
  .wrapper {
    width: 100%;
  }
  .headings {
    margin-left: 4rem;
    margin-top: -5rem;
    padding: 2rem;
  }
  .headings > h3 {
    color: #05c8e8;
    margin-top: 5rem;
    font-size: 1rem;
  }
  .headings > h1 {
    color: #1a4048;
    font-weight: 900;
    font-size: 2.5rem;
    margin-top: -0.3rem;
  }
  .howcircle > img {
    margin-top: -7rem;
    width: 150px;
  }
  .Cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards {
    width: 90%;
    margin: 2rem 0 7rem 0;
  }
  .card1 {
    margin-left: 0.5rem;
  }
  .card1box1content > h3 {
    font-size: 0.9rem;
    margin-top: 7px;
  }
  .card1box1content > h3 > br {
    display: none;
  }
  .card1box1content > span > br {
    display: none;
  }
  .card1box1img > img {
    width: 140px;
    height: 170px;
  }
  .viewmorebutton{
    margin-top: -3%;
  }
}

@media screen and (max-width: 717px) {
  
  .wrapper > img {
    display: none;
  }
  .headings {
    margin-left: 0rem;
    margin-top: 0;
    padding: 2rem;
  }
  .headings > h3 {
    color: #05c8e8;
    margin-top: 3rem;
    font-size: 1rem;
  }
  .headings > h1 {
    color: #1a4048;
    font-weight: 900;
    font-size: 2rem;
    margin-top: -0.8rem;
  }
  .headings > h1 > br {
    display: none;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .card1 {
    margin-left: 0;
  }
  .card1box1 {
    display: flex;
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 18px;
    margin-bottom: 1rem;
    width: 330px;
    align-items: center;
    height: 160px;
  }
  .card1box1img > img {
    width: 120px;
    height: 155px;
  }
  .card1box1content {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    gap: 0rem;
    height: 190px;
  }
  .card1box1content > h3 {
    font-size: 0.9rem;
    margin-top: 15px;
  }
  .card1box1content > h3 > br {
    display: none;
  }
  .card1box1content > span > br {
    display: none;
  }
  .howcircle {
    display: none;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) {
  .headings {
    margin-left: 11rem;
    margin-top: 0rem;
    padding: 2rem;
  }
  .headings > h3 {
    color: #05c8e8;
    margin-top: 5rem;
    font-size: 1rem;
  }
  .headings > h1 {
    color: #1a4048;
    font-weight: 900;
    font-size: 2.5rem;
    margin-top: -0.3rem;
  }
  .Cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards {
    width: 90%;
  }
  .card1box1content {
    gap: 0.5rem;
  }
  .card1box1content > h3 {
    font-size: 1.2rem;
    margin-top: 7px;
  }
  .card1box1content > h3 > br {
    display: none;
  }
  .card1box1content > span > br {
    display: none;
  }
  .card1box1img > img {
    width: 150px;
    height: 200px;
  }
}
@media screen and (min-width: 540px) and (max-width: 590px) {
  .wrapper {
    width: 100%;
  }
}
